feature/fix_approximation_2/shell_src/parking_flow copy.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Parking Assistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_node",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Check Parking",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "http_req_1"
            ]
        ]
    },
    {
        "id": "http_req_1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Get Green Day",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "save_resp_1"
            ]
        ]
    },
    {
        "id": "save_resp_1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Save First Result",
        "rules": [
            {
                "t": "set",
                "p": "parking1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "http_req_2"
            ]
        ]
    },
    {
        "id": "http_req_2",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Get Green Day (Green)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "format_func"
            ]
        ]
    },
    {
        "id": "format_func",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Format Text",
        "func": "// Extract data from first call (saved in msg.parking1)\nvar p1 = msg.parking1;\nvar count1 = p1.CurrentFreeGroupCounterValue;\nvar name1 = p1.ParkingGroupName;\n\n// Extract data from second call (current msg.payload)\nvar p2 = msg.payload;\nvar count2 = p2.CurrentFreeGroupCounterValue;\nvar name2 = p2.ParkingGroupName;\n\n// Rename 'Bank_1' if present\nif (name2 === \"Bank_1\") {\n    name2 = \"Kampus Grunwaldzki Uniwersytetu\";\n}\n\n// Construct the message\nvar speech = \"Following slots are free: \" + count1 + \" \" + name1 + \" \" + count2 + \" \" + name2;\n\nmsg.payload = speech;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "debug_node"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Final Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 100,
        "wires": []
    }
]
