.flows.json.backup
[
    {
        "id": "6832cdd13267bd50",
        "type": "tab",
        "label": "Parking Flow (Manual)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52f17e2ca027f52c",
        "type": "tab",
        "label": "Google Sheets Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a47f52673ea1d8c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-smartnora": "1.25.0"
        }
    },
    {
        "id": "nora_config_unique_v4",
        "type": "noraf-config",
        "name": "NORA config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "baa5ce381ab4e24f",
        "type": "inject",
        "z": "6832cdd13267bd50",
        "name": "Poll 5m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c70e46e8bc645cf2"
            ]
        ]
    },
    {
        "id": "55bde25b0ef46e18",
        "type": "inject",
        "z": "6832cdd13267bd50",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c70e46e8bc645cf2"
            ]
        ]
    },
    {
        "id": "c70e46e8bc645cf2",
        "type": "http request",
        "z": "6832cdd13267bd50",
        "name": "Get Green Day",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "62c354d9d129bff1"
            ]
        ]
    },
    {
        "id": "62c354d9d129bff1",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Save First Result",
        "rules": [
            {
                "t": "set",
                "p": "parking1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "043dc58c9e35af7a"
            ]
        ]
    },
    {
        "id": "043dc58c9e35af7a",
        "type": "http request",
        "z": "6832cdd13267bd50",
        "name": "Get Uniwersystet",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "06c5b2ff25d6bff4"
            ]
        ]
    },
    {
        "id": "06c5b2ff25d6bff4",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Save Second Result",
        "rules": [
            {
                "t": "set",
                "p": "parking2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "d8cdc73a584247bb"
            ]
        ]
    },
    {
        "id": "d8cdc73a584247bb",
        "type": "function",
        "z": "6832cdd13267bd50",
        "name": "Format: Temp=GreenDay, Hum=Uni",
        "func": "// Extract data from first call (saved in msg.parking1)\nvar p1 = msg.parking1;\nvar countGreenDay = p1.CurrentFreeGroupCounterValue;\nvar timestampGreenDay = p1.Timestamp;\n\n// Extract data from second call (current msg.payload)\nvar p2 = msg.parking2;\nvar countUniversity = p2.CurrentFreeGroupCounterValue;\nvar timestampUniversity = p2.Timestamp;\nnode.log(\"info\");\n\n// Map to Thermostat Traits\nmsg.payload = {\n    setpoint: countGreenDay,\n    temperature: countUniversity,\n    timestamp1:timestampGreenDay,\n    timestamp2:timestampUniversity,\n    mode: \"heat\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "6b35d07d512b80d3",
                "c40f34071186a4b1",
                "91fe776fca606349"
            ]
        ]
    },
    {
        "id": "6b35d07d512b80d3",
        "type": "noraf-thermostat",
        "z": "6832cdd13267bd50",
        "devicename": "parking",
        "roomhint": "",
        "name": "",
        "modes": "heat",
        "unit": "C",
        "rangeMin": "",
        "rangeMax": "",
        "topic": "parking/thermostat",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "2",
        "nora": "nora_config_unique_v4",
        "twofactorpin": "",
        "filter": false,
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c40f34071186a4b1",
        "type": "link out",
        "z": "6832cdd13267bd50",
        "name": "Send to Logging",
        "mode": "link",
        "links": [
            "a0ddf57eaefa0be3"
        ],
        "x": 1135,
        "y": 80,
        "wires": []
    },
    {
        "id": "91fe776fca606349",
        "type": "debug",
        "z": "6832cdd13267bd50",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "a0ddf57eaefa0be3",
        "type": "link in",
        "z": "52f17e2ca027f52c",
        "name": "Input from Parking Flow",
        "links": [
            "c40f34071186a4b1"
        ],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "cd692875b48b5745",
        "type": "inject",
        "z": "52f17e2ca027f52c",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 100, \"timestamp1\":\"11:11\", \"humidity\": 50, \"timestamp2\":\"12:12\"}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "60df242656fbe1e6",
        "type": "function",
        "z": "52f17e2ca027f52c",
        "name": "Prepare Form Data",
        "func": "// REPLACE THESE WITH YOUR FORM ENTRY IDs\nvar ENTRY_ID_GREEN = \"entry.2026993163\";\nvar ENTRY_TIME_GREEN = \"entry.51469670\";\nvar ENTRY_ID_UNI = \"entry.1412144904\";\nvar ENTRY_TIME_UNI = \"entry.364658642\";\n\n// Get values from the incoming message\n// (Assuming msg.payload.temperature is GreenDay, msg.payload.humidity is Uni)\nvar valGreen = msg.payload.temperature;\nvar timeGreen = msg.payload.timestamp1;\nvar valUni = msg.payload.setpoint;\nvar timeUni = msg.payload.timestamp2;\n\n// Construct Form Payload\nmsg.payload = {};\nmsg.payload[ENTRY_ID_GREEN] = valGreen;\nmsg.payload[ENTRY_TIME_GREEN] = timeGreen;\nmsg.payload[ENTRY_ID_UNI] = valUni;\nmsg.payload[ENTRY_TIME_UNI] = timeUni;\n\n// Set Headers for Form Submission\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "5ec5c482fc6551fb",
                "66baaa8d86bc9dc6"
            ]
        ]
    },
    {
        "id": "5ec5c482fc6551fb",
        "type": "http request",
        "z": "52f17e2ca027f52c",
        "name": "POST to Google Form",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSdeQ-rmw_VfOidGmtSNb9DLkt1RfPdduu-jH898sf3lhj17LA/formResponse",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 100,
        "wires": [
            [
                "845296b9837b8163"
            ]
        ]
    },
    {
        "id": "845296b9837b8163",
        "type": "debug",
        "z": "52f17e2ca027f52c",
        "name": "Log Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "66baaa8d86bc9dc6",
        "type": "debug",
        "z": "52f17e2ca027f52c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    }
]