logging_flow.json
[
    {
        "id": "52f17e2ca027f52c",
        "type": "tab",
        "label": "Google Sheets Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0ddf57eaefa0be3",
        "type": "link in",
        "z": "52f17e2ca027f52c",
        "name": "Input from Parking Flow",
        "links": [],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "cd692875b48b5745",
        "type": "inject",
        "z": "52f17e2ca027f52c",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 100, \"humidity\": 50}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "60df242656fbe1e6",
        "type": "function",
        "z": "52f17e2ca027f52c",
        "name": "Prepare Form Data",
        "func": "// REPLACE THESE WITH YOUR FORM ENTRY IDs\nvar ENTRY_ID_GREEN = \"entry.2026993163\";\nvar ENTRY_ID_UNI = \"entry.1412144904\";\n\n// Get values from the incoming message\n// (Assuming msg.payload.temperature is GreenDay, msg.payload.humidity is Uni)\nvar valGreen = msg.payload.temperature;\nvar valUni = msg.payload.humidity;\n\n// Construct Form Payload\nmsg.payload = {};\nmsg.payload[ENTRY_ID_GREEN] = valGreen;\nmsg.payload[ENTRY_ID_UNI] = valUni;\n\n// Set Headers for Form Submission\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "5ec5c482fc6551fb"
            ]
        ]
    },
    {
        "id": "5ec5c482fc6551fb",
        "type": "http request",
        "z": "52f17e2ca027f52c",
        "name": "POST to Google Form",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSdeQ-rmw_VfOidGmtSNb9DLkt1RfPdduu-jH898sf3lhj17LA/formResponse",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "845296b9837b8163"
            ]
        ]
    },
    {
        "id": "845296b9837b8163",
        "type": "debug",
        "z": "52f17e2ca027f52c",
        "name": "Log Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    }
]