parking_flow.json
[
    {
        "id": "parking_flow_tab",
        "type": "tab",
        "label": "Parking Flow (Manual)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f970b3781b889ff2",
        "type": "inject",
        "z": "parking_flow_tab",
        "name": "Poll 5m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "5a1bee3cde324ad2"
            ]
        ]
    },
    {
        "id": "manual_trigger_node",
        "type": "inject",
        "z": "parking_flow_tab",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5a1bee3cde324ad2"
            ]
        ]
    },
    {
        "id": "5a1bee3cde324ad2",
        "type": "http request",
        "z": "parking_flow_tab",
        "name": "Get Green Day",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "4cba3b68788e2e0e"
            ]
        ]
    },
    {
        "id": "4cba3b68788e2e0e",
        "type": "change",
        "z": "parking_flow_tab",
        "name": "Save First Result",
        "rules": [
            {
                "t": "set",
                "p": "parking1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "ab3764a1e711a078"
            ]
        ]
    },
    {
        "id": "ab3764a1e711a078",
        "type": "http request",
        "z": "parking_flow_tab",
        "name": "Get Uniwersystet",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "0b15dc341a1503f8"
            ]
        ]
    },
    {
        "id": "0b15dc341a1503f8",
        "type": "change",
        "z": "parking_flow_tab",
        "name": "Save Second Result",
        "rules": [
            {
                "t": "set",
                "p": "parking2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "782c217cee42a158"
            ]
        ]
    },
    {
        "id": "782c217cee42a158",
        "type": "function",
        "z": "parking_flow_tab",
        "name": "Format: Temp=GreenDay, Hum=Uni",
        "func": "// Extract data from first call (saved in msg.parking1)\nvar p1 = msg.parking1;\nvar countGreenDay = p1.CurrentFreeGroupCounterValue;\nvar timestampGreenDay = p1.timestamp;\n\n// Extract data from second call (current msg.payload)\nvar p2 = msg.parking2;\nvar countUniversity = p2.CurrentFreeGroupCounterValue;\nvar timestampUniversity = p2.timestamp;\n\n// Map to Thermostat Traits\nmsg.payload = {\n    setpoint: countGreenDay,\n    timestamp1:timestampGreenDay,\n    temperature: countUniversity,\n    timestamp2:timestampUniversity,\n    mode: \"heat\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "61c921c854461416",
                "f37c7857ca614302"
            ]
        ]
    },
    {
        "id": "61c921c854461416",
        "type": "noraf-thermostat",
        "z": "parking_flow_tab",
        "devicename": "parking",
        "roomhint": "",
        "name": "",
        "modes": "heat",
        "unit": "C",
        "rangeMin": "",
        "rangeMax": "",
        "topic": "parking/thermostat",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "2",
        "nora": "nora_config_unique_v4",
        "twofactorpin": "",
        "filter": false,
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f37c7857ca614302",
        "type": "link out",
        "z": "parking_flow_tab",
        "name": "Send to Logging",
        "mode": "link",
        "links": [],
        "x": 1135,
        "y": 80,
        "wires": []
    }
]