shell_src/.flows.json.backup
[
    {
        "id": "799aef484bf058a4",
        "type": "tab",
        "label": "Parking Flow (Manual)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52f17e2ca027f52c",
        "type": "tab",
        "label": "Google Sheets Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a47f52673ea1d8c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-smartnora": "1.25.0"
        }
    },
    {
        "id": "nora_config_unique_v4",
        "type": "noraf-config",
        "name": "NORA config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "ed3a190a8ae3ac03",
        "type": "inject",
        "z": "799aef484bf058a4",
        "name": "Poll 5m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "36376284208c0e30"
            ]
        ]
    },
    {
        "id": "cd6d57d3ed207fa5",
        "type": "inject",
        "z": "799aef484bf058a4",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "36376284208c0e30"
            ]
        ]
    },
    {
        "id": "420da975fe384294",
        "type": "http request",
        "z": "799aef484bf058a4",
        "name": "Get Green Day",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "5708089fb9bba8b9"
            ]
        ]
    },
    {
        "id": "5708089fb9bba8b9",
        "type": "change",
        "z": "799aef484bf058a4",
        "name": "Save First Result",
        "rules": [
            {
                "t": "set",
                "p": "parking1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "db6122e87998f8d5"
            ]
        ]
    },
    {
        "id": "b7992f0bf09d6a34",
        "type": "http request",
        "z": "799aef484bf058a4",
        "name": "Get Uniwersystet",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "40a59ca16629438f"
            ]
        ]
    },
    {
        "id": "40a59ca16629438f",
        "type": "change",
        "z": "799aef484bf058a4",
        "name": "Save Second Result",
        "rules": [
            {
                "t": "set",
                "p": "parking2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "d433a04feeb184ed"
            ]
        ]
    },
    {
        "id": "d433a04feeb184ed",
        "type": "function",
        "z": "799aef484bf058a4",
        "name": "Format: Temp=GreenDay, Hum=Uni",
        "func": "// Extract data from first call (saved in msg.parking1)\nvar p1 = msg.parking1;\nvar countGreenDay = p1.CurrentFreeGroupCounterValue;\nvar timestampGreenDay = p1.Timestamp;\n\n// Extract data from second call (current msg.payload)\nvar p2 = msg.parking2;\nvar countUniversity = p2.CurrentFreeGroupCounterValue;\nvar timestampUniversity = p2.Timestamp;\nnode.log(\"info\");\n\n// Map to Thermostat Traits\nmsg.payload = {\n    temperature: countUniversity,\n    timestamp1:timestampUniversity,\n    setpoint: countGreenDay,\n    timestamp2:timestampGreenDay,\n    mode: \"heat\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "30977d8d55cb4335",
                "fd403e63525f7d6e",
                "4f4c723e4c0d76c3"
            ]
        ]
    },
    {
        "id": "30977d8d55cb4335",
        "type": "noraf-thermostat",
        "z": "799aef484bf058a4",
        "devicename": "parking",
        "roomhint": "",
        "name": "",
        "modes": "heat",
        "unit": "C",
        "rangeMin": "",
        "rangeMax": "",
        "topic": "parking/thermostat",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "2",
        "nora": "nora_config_unique_v4",
        "twofactorpin": "",
        "filter": false,
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fd403e63525f7d6e",
        "type": "link out",
        "z": "799aef484bf058a4",
        "name": "Send to Logging",
        "mode": "link",
        "links": [
            "a0ddf57eaefa0be3"
        ],
        "x": 1135,
        "y": 80,
        "wires": []
    },
    {
        "id": "4f4c723e4c0d76c3",
        "type": "debug",
        "z": "799aef484bf058a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "36376284208c0e30",
        "type": "change",
        "z": "799aef484bf058a4",
        "name": "Set URL 1",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://gd.zaparkuj.pl/api/freegroupcountervalue.json?time=\" & $millis()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 440,
        "wires": [
            [
                "420da975fe384294"
            ]
        ]
    },
    {
        "id": "db6122e87998f8d5",
        "type": "change",
        "z": "799aef484bf058a4",
        "name": "Set URL 2",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json?time=\" & $millis()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "b7992f0bf09d6a34"
            ]
        ]
    },
    {
        "id": "a0ddf57eaefa0be3",
        "type": "link in",
        "z": "52f17e2ca027f52c",
        "name": "Input from Parking Flow",
        "links": [
            "c40f34071186a4b1"
        ],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "cd692875b48b5745",
        "type": "inject",
        "z": "52f17e2ca027f52c",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 100, \"timestamp1\":\"11:11\", \"humidity\": 50, \"timestamp2\":\"12:12\"}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "60df242656fbe1e6"
            ]
        ]
    },
    {
        "id": "60df242656fbe1e6",
        "type": "function",
        "z": "52f17e2ca027f52c",
        "name": "Prepare Form Data",
        "func": "// REPLACE THESE WITH YOUR FORM ENTRY IDs\nvar ENTRY_ID_GREEN = \"entry.2026993163\";\nvar ENTRY_TIME_GREEN = \"entry.51469670\";\nvar ENTRY_ID_UNI = \"entry.1412144904\";\nvar ENTRY_TIME_UNI = \"entry.364658642\";\n\n// Get values from the incoming message\n// (Assuming msg.payload.temperature is GreenDay, msg.payload.humidity is Uni)\nvar valGreen = msg.payload.temperature;\nvar timeGreen = msg.payload.timestamp1;\nvar valUni = msg.payload.setpoint;\nvar timeUni = msg.payload.timestamp2;\n\n// Construct Form Payload\nmsg.payload = {};\nmsg.payload[ENTRY_ID_GREEN] = valGreen;\nmsg.payload[ENTRY_TIME_GREEN] = timeGreen;\nmsg.payload[ENTRY_ID_UNI] = valUni;\nmsg.payload[ENTRY_TIME_UNI] = timeUni;\n\n// Set Headers for Form Submission\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "5ec5c482fc6551fb",
                "66baaa8d86bc9dc6"
            ]
        ]
    },
    {
        "id": "5ec5c482fc6551fb",
        "type": "http request",
        "z": "52f17e2ca027f52c",
        "name": "POST to Google Form",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSdeQ-rmw_VfOidGmtSNb9DLkt1RfPdduu-jH898sf3lhj17LA/formResponse",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 100,
        "wires": [
            [
                "845296b9837b8163"
            ]
        ]
    },
    {
        "id": "845296b9837b8163",
        "type": "debug",
        "z": "52f17e2ca027f52c",
        "name": "Log Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "66baaa8d86bc9dc6",
        "type": "debug",
        "z": "52f17e2ca027f52c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    }
]