shell_src/parking_flow.json
[
    {
        "id": "6832cdd13267bd50",
        "type": "tab",
        "label": "Parking Flow (Manual)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "baa5ce381ab4e24f",
        "type": "inject",
        "z": "6832cdd13267bd50",
        "name": "Poll 5m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "head000000000001"
            ]
        ]
    },
    {
        "id": "55bde25b0ef46e18",
        "type": "inject",
        "z": "6832cdd13267bd50",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "head000000000001"
            ]
        ]
    },
    {
        "id": "c70e46e8bc645cf2",
        "type": "http request",
        "z": "6832cdd13267bd50",
        "name": "Get Green Day",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "62c354d9d129bff1"
            ]
        ]
    },
    {
        "id": "62c354d9d129bff1",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Save First Result",
        "rules": [
            {
                "t": "set",
                "p": "parking1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "head000000000002"
            ]
        ]
    },
    {
        "id": "043dc58c9e35af7a",
        "type": "http request",
        "z": "6832cdd13267bd50",
        "name": "Get Uniwersystet",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "06c5b2ff25d6bff4"
            ]
        ]
    },
    {
        "id": "06c5b2ff25d6bff4",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Save Second Result",
        "rules": [
            {
                "t": "set",
                "p": "parking2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "d8cdc73a584247bb"
            ]
        ]
    },
    {
        "id": "d8cdc73a584247bb",
        "type": "function",
        "z": "6832cdd13267bd50",
        "name": "Format: Temp=GreenDay, Hum=Uni",
        "func": "// Extract data from first call (saved in msg.parking1)\nvar p1 = msg.parking1;\nvar countGreenDay = p1.CurrentFreeGroupCounterValue;\nvar timestampGreenDay = p1.Timestamp;\n\n// Extract data from second call (current msg.payload)\nvar p2 = msg.parking2;\nvar countUniversity = p2.CurrentFreeGroupCounterValue;\nvar timestampUniversity = p2.Timestamp;\nnode.log(\"info\");\n\n// Map to Thermostat Traits\nmsg.payload = {\n    temperature: countUniversity,\n    timestamp1:timestampUniversity,\n    setpoint: countGreenDay,\n    timestamp2:timestampGreenDay,\n    mode: \"heat\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "6b35d07d512b80d3",
                "c40f34071186a4b1",
                "91fe776fca606349"
            ]
        ]
    },
    {
        "id": "6b35d07d512b80d3",
        "type": "noraf-thermostat",
        "z": "6832cdd13267bd50",
        "devicename": "parking",
        "roomhint": "",
        "name": "",
        "modes": "heat",
        "unit": "C",
        "rangeMin": "",
        "rangeMax": "",
        "topic": "parking/thermostat",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "2",
        "nora": "nora_config_unique_v4",
        "twofactorpin": "",
        "filter": false,
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c40f34071186a4b1",
        "type": "link out",
        "z": "6832cdd13267bd50",
        "name": "Send to Logging",
        "mode": "link",
        "links": [
            "a0ddf57eaefa0be3"
        ],
        "x": 1135,
        "y": 80,
        "wires": []
    },
    {
        "id": "91fe776fca606349",
        "type": "debug",
        "z": "6832cdd13267bd50",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "nora_config_unique_v4",
        "type": "noraf-config",
        "name": "NORA config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "3e85c38520ab171f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-smartnora": "1.25.0"
        }
    },
    {
        "id": "head000000000001",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Set URL 1",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://gd.zaparkuj.pl/api/freegroupcountervalue.json?time=\" & $millis()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215,
        "y": 100,
        "wires": [
            [
                "c70e46e8bc645cf2"
            ]
        ]
    },
    {
        "id": "head000000000002",
        "type": "change",
        "z": "6832cdd13267bd50",
        "name": "Set URL 2",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://gd.zaparkuj.pl/api/freegroupcountervalue-green.json?time=\" & $millis()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 150,
        "wires": [
            [
                "043dc58c9e35af7a"
            ]
        ]
    }
]