shell_src/phone_parking_flow.json
[
    {
        "id": "tab_phone_static_v4",
        "type": "tab",
        "label": "Phone Parking (Minimal V4)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "auto_init_v4",
        "type": "inject",
        "z": "tab_phone_static_v4",
        "name": "Sensor Reader",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "publish_value_v4"
            ]
        ]
    },
    {
        "id": "publish_value_v4",
        "type": "function",
        "z": "tab_phone_static_v4",
        "name": "Publish Reading: 199/44/202",
        "func": "// Define current sensor reading\nmsg.payload = {\n    temperature: 199,\n    humidity: 44,\n    mode: \"heat\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "nora_thermostat_v4"
            ]
        ]
    },
    {
        "id": "nora_thermostat_v4",
        "type": "noraf-thermostat",
        "z": "tab_phone_static_v4",
        "devicename": "parkowanie",
        "roomhint": "",
        "name": "",
        "modes": "cool",
        "unit": "C",
        "rangeMin": "",
        "rangeMax": "",
        "topic": "parking/thermostat",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": true,
        "bufferRangeCelsius": "2",
        "nora": "nora_config_unique_v4",
        "twofactorpin": "",
        "filter": false,
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "nora_config_unique_v4",
        "type": "noraf-config",
        "name": "NORA config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "9401e481cbd0f505",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-smartnora": "1.25.0"
        }
    }
]